{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe | Alice CRM{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

    <div class="d-flex align-items-center justify-content-between mb-5">
		<h1>Modifier mon mot de passe</h1>
		        <img src="{{ asset('assets/img/VectorBack.png') }}" class="goBack" id="goBackBtn" alt="Retour" onclick="window.history.back();"></img>
    </div>
		<a href=" {{ path('app_home')}} ">Retourner à l'accueil</a><br>

	<hr>

    <div class="form mt-3 mt-lg-0">

		{% if notificationOk %}
			<div class="alert alert-info">{{ notificationOk }}</div>
		{% endif %}
		{% if notificationError %}
			<div class="alert alert-danger">{{ notificationError }}</div>
		{% endif %}


		{{ form(form) }}

	</div>

    
{% endblock %}