{% extends 'base.html.twig' %}


{% block title %}Connexion | CRM Alice{% endblock %}

{% block body %}

            {% if app.user %}
                <div class="mb-5">
                    Vous êtes connectez en tant que <strong>{{ app.user.userIdentifier }}</strong> : <a href="{{ path('app_logout') }}"> déconnexion.</a>
                </div>
            {% endif %}

    <form method="post" class="row form mt-5 mt-lg-0">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>

        <label for="inputEmail" class="col form-label mb-3">Email</label>

        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>

        <label for="inputPassword" class="col form-label mb-3">Mot de passe</label>

        {# Retrait : autocomplete="current-password" #}
        <input type="password" name="password" id="inputPassword" class="form-control mb-3" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button id="login_submit" class="btn btn-lg mt-3" type="submit">
            Connexion
        </button>

        <p class="text-center mt-5"><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a></p>
		<p class="text-center mt-5">Ou souhaitez-vous <a href="{{ path('app_register') }}">créer un compte</a>?</p>
    </form>



{% endblock %}
