{% extends 'base.html.twig' %}

{% block title %}Accueil | Alice CRM{% endblock %}



{% block body %}
{# {% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %} #}


{# Page accueil #}

{# TODO : Revoir armonisation de tous les TITLE des pages #}

<h4>Bonjour {{ app.user.firstname|capitalize }}.</h4>



<div class="d-flex flex-column align-items-center flex-sm-row flex-sm-wrap mb-3 me-md-1 justify-content-center justify-content-lg-end">
    <a href="{{ path('app_forgot_password_request') }}" class="btn btn-alice-lg btn-block mx-2">Modifier mon mot de passe</a>
    <a href="#" class="btn btn-alice-lg btn-block mx-lg-2">Déposer un document</a>
    {% if is_granted('ROLE_ADMIN') %}
    {% else %}
    <a href="mailto:alice.webdeveloppement@gmail.com?subject=Question de {{ app.user }}" class="btn btn-alice-lg btn-block mx-2" >Écrire à Antoine</a>
    {% endif %}
</div>

<div class="row">

    {% if is_granted('ROLE_ADMIN') %}

        {# Google Calendar #}
        <div class="d-flex flex-wrap flex-column col-12 col-lg-6">
            <p class="fs-4 text-center">Agenda</p>

            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FParis&mode=AGENDA&showPrint=0&showTitle=0&showTz=0&showCalendars=1&src=YWxpY2Uud2ViZGV2ZWxvcHBlbWVudEBnbWFpbC5jb20&src=YW50b2luZWx1ZHdpZ2dhbGxpQGdtYWlsLmNvbQ&color=%23039BE5&color=%238E24AA" style="border:solid 1px #777" width="auto" height="600" frameborder="0" scrolling="no" class="ratio ratio-4x3"></iframe>

        </div>
    {% endif %}

        {# Documents #}

        <div class="d-flex flex-wrap flex-column col-12 col-lg-6">
            <a href="{{ path('app_document_list') }}" class="fs-4 text-center">Documents</a>
            <div class="d-flex flex-column my-3">
                {% for document in pagination %}
                    <div class="d-flex">
                        <div class="col-5">
                            <p class="m-0 text-end px-3 my-1">{{ document.date ? document.date|date('d/m/Y') : '' }}</p>
                        </div>
                        <div class="col-7 d-flex justify-content-start px-3 my-1">
                            <a href="{{ path('app_document_show', {'id': document.id}) }}">{{ document.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% if is_granted('ROLE_ADMIN') %}
    {% else %}
        {# Contact du User #}
        <div class="d-flex flex-wrap flex-column col-12 col-lg-6">
            <a href="{{ path('app_contacts_user') }}"  class="fs-4 text-center">Mes contacts</a>
                {% if contacts is defined %}
                    <div>
                        {% for contact in contacts %}
                       

                            <div class="d-flex flex-column mt-1 border p-0 col-12">

                                <table class="table mb-0 mt-1" data-name="tableContact">


                                    <div class="d-flex bg-alice-light justify-content-between">
                                        <div class="">
                                            <p class="text-center m-0 py-1 fs-6 fw-medium">{{ contact.firstname|capitalize }} {{ contact.lastname|upper }}</p>
                                            <p class="p-0 m-0 fs-6 fst-italic">{{ contact.position }}</p>
                                             {% if contact.isMain == true %}
                                             <p class="p-0 m-0 fs-6 fst-italic">Principal</p>
                                             {% endif %}
                                        </div>
                                        <div class="d-flex">
                                            <div class="d-flex">
                                            </div>
                                            <div data-name="controlButtonDivContact" class="d-flex">
                                                <img src="{{ asset('assets/img/VectorAdd.png') }} " alt="Bouton ouvrir" data-name="imgAddContact">
                                                <img src="{{ asset('assets/img/VectorCloseDark.png') }} " alt="Bouton Fermer" data-name="imgSuppContact" style="display:none;">
                                            </div>
                                        </div>
                                    </div>


                                    <tbody>
                                            <tr>
                                                <td>Email</td>
                                                <th class="overflow-x-hidden">{{ contact.email }}</th>
                                            </tr>
                                            <tr>
                                                <td>Tel</td>
                                                <th>{{ contact.phone }}</th>
                                            </tr>
                                    </tbody>

                                </table>
                            </div>

                        
                    {% endfor %}
                    </div>
                {% endif %}
        </div>
    {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        {# Fonctionnalité Graphique #}
            {# <div class="my-auto bg-success">
                <p class="fs-3">Statistiques</p>
                <div id="graphic" class="col-12 bg-success-subtle">
                    <canvas class="mb-3 border" id="myChart" width="900" height="380"></canvas>
                </div>
            </div> #}

        {# Affichage du tableau des stats #}
            {# <div class="my-auto bg-info">
                <p class="fs-3 text-center">Analyse Financière</p>
                <div id="statistics" class="col-12 bg-info-subtle">
                </div>
            </div> #}
        {% endif %}
</div>





{% endblock %}

