{% extends 'base.html.twig' %}

{% block title %}Accueil | Alice CRM{% endblock %}



{% block body %}

{# Page accueil #}


    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Bonjour {{ app.user.firstname|capitalize }}.</h1>
    </div>


<div class="d-flex flex-column align-items-center flex-sm-row flex-sm-wrap mb-3 me-md-1 justify-content-center justify-content-lg-end d-none d-lg-flex">
    {% if app.user.roles[0] == "ROLE_USER" %}
        <a href="mailto:alice.webdeveloppement@gmail.com?subject=Question de {{ app.user }}" class="btn btn-alice mx-2" >Écrire à Antoine</a>
    {% endif %}
</div>

<div class="row">

    {% if app.user.roles[0] == "ROLE_ADMIN" %}

        {# Google Calendar #}
        <div class="my-5  col-12 col-lg-6">

            <div class="d-flex flex-wrap flex-column">
                <div class="bg-alice-light d-flex align-items-center justify-content-center container-calendar-title">
                    <p class="calendar-title">Agenda</p>
                </div>

                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FParis&mode=AGENDA&showPrint=0&showTitle=0&showTz=0&showCalendars=1&src=YWxpY2Uud2ViZGV2ZWxvcHBlbWVudEBnbWFpbC5jb20&src=YW50b2luZWx1ZHdpZ2dhbGxpQGdtYWlsLmNvbQ&color=%23039BE5&color=%238E24AA" width="auto" height="600" frameborder="0" scrolling="no" class="container-calendar"></iframe>

            </div>
        
        </div>
    {% endif %}

    {# Documents #}

    <div class="d-flex flex-wrap flex-column col-12 col-lg-6">
        <div class="table-responsive my-5">
            <table class="table">
                <thead class="bg-alice-light border-alice-doc">
                    <tr>
                        <th scope="col" colspan="2" class="text-center"><a href="{{ path('app_document_list') }}" class="fs-4 fw-normal lienDocument">Documents</a></th>
                    </tr>
                </thead>

                <tbody>
                {% if pagination.items == null %}
                        <tr class="border-alice-doc">
                                {# align-middle on y #}
                            <td class="col-1 align-middle">Aucun document</td>
                            <td class="col-1"><a href="{{ path('app_document_new') }}" class="btn btn-alice">Ajouter</a></td>

                        </tr>

                {% endif %}
                    {% for document in pagination %}
                        <tr class="border-alice-doc">
                                
                            <td scope="col-1">{{ document.date ? document.date|date('d/m/Y') : '' }}</td>
                            <td scope="col-1"><a href="{{ path('app_document_show', {'id': document.id}) }}">{{ document.name }}</a></td>

                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


        {# Contact du User #}

{% if app.user.roles[0] == "ROLE_USER" %}

    
    <div class="col-12 col-lg-6">
        <div class="d-flex flex-wrap flex-column my-5">
            <div class="head-table-contact d-flex align-items-center justify-content-center p-2 h-25">
                <a href="{{ path('app_contacts_user') }}" class="fs-4 fw-normal">Mes contacts</a>
            </div>
            
                {% if contacts.count() > 0 %}
                    <div>
                        {% for contact in contacts %}
                        

                            <div class="d-flex flex-column p-0 col-12 contact-home-page">

                                <table class="table mb-0" data-name="tableContact">


                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-baseline col-11">
                                            <p class="m-0 py-1 ps-1 fs-6 fw-medium col-5 text-start">{{ contact.firstname|capitalize }} {{ contact.lastname|upper }}</p>
                                            <p class="p-0 m-0 fs-6 fst-italic col-4 text-start">{{ contact.position }}</p>
                                                {% if contact.isMain == true %}
                                                <p class="p-0 m-0 fs-6 fst-italic col-3 text-start">Principal</p>
                                                {% endif %}
                                        </div>
                                        <div class="d-flex col-1">
                                            <div data-name="controlButtonDivContact" class="d-flex">
                                                <img src="{{ asset('assets/img/VectorAdd.png') }} " alt="Bouton ouvrir" data-name="imgAddContact">
                                                <img src="{{ asset('assets/img/VectorCloseDark.png') }} " alt="Bouton Fermer" data-name="imgSuppContact" style="display:none;">
                                            </div>
                                        </div>
                                    </div>


                                    <tbody>
                                            <tr>
                                                <td>Email</td>
                                                <td class="overflow-x-hidden fw-medium">{{ contact.email }}</td>
                                            </tr>
                                            <tr>
                                                <td>Tel</td>
                                                <td class=" fw-medium">{{ contact.phone|phone_number_format('INTERNATIONAL') }}</td>
                                            </tr>
                                    </tbody>

                                </table>
                            </div>

                        
                    {% endfor %}
                    </div>
                {% else %}
                <div class="d-flex flex-column p-0 col-12 contact-home-page">
                    <table class="table mb-0">
                        <tr>
                                
                            <td class="col-6 align-middle">Aucun contact</td>
                            <td class="col-6"><a href="{{ path('app_contact_user_add') }}" class="btn btn-alice">Ajouter</a></td>

                        </tr>
                    </table>
                </div>
                {% endif %}
        </div>
    </div>
{% endif %}

        
        {% if app.user.roles[0] == "ROLE_ADMIN" %}
        {# Fonctionnalité Graphique #}
            {# <div class="my-auto bg-success">
                <p class="fs-3">Statistiques</p>
                <div id="graphic" class="col-12 bg-success-subtle">
                    <canvas class="mb-3 border" id="myChart" width="900" height="380"></canvas>
                </div>
            </div> #}

        {# Affichage du tableau des stats #}
            {# <div class="my-auto bg-info">
                <p class="fs-3 text-center">Analyse Financière</p>
                <div id="statistics" class="col-12 bg-info-subtle">
                </div>
            </div> #}
        {% endif %}

    <div class="d-flex flex-column align-items-center flex-sm-row flex-sm-wrap mb-5 me-md-1 justify-content-center justify-content-lg-end d-lg-none">
        {% if app.user.roles[0] == "ROLE_USER" %}
            <a href="mailto:alice.webdeveloppement@gmail.com?subject=Question de {{ app.user }}" class="btn btn-alice mx-2" >Écrire à Antoine</a>
        {% endif %}
    </div>

</div>





{% endblock %}

