{% extends 'base.html.twig' %}

{% block title %}Partenariats | Alice_CRM{% endblock %}

{% block body %}
        
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Les Partenariats</h1>
        <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>
    {% if partners is not empty %}

        <div class="d-flex justify-content-center justify-content-lg-end me-2">
            <a href="{{ path('app_partner_add') }}" class="btn btn-alice">Nouveau Partenariat</a>
        </div>


<table class="table mt-3">
            <thead>
                <tr>
                    
                    <th>Nom</th>
                    <th>Tarif</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for partner in partners %}
                <tr>
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.discountRate }} %</td>
                    <td>
                        <div class="d-flex justify-content-start">
                            <a href="{{ path('app_partner_show', {'id': partner.id}) }}" class="btn-fa-action-eye m-0"><i class="fa-solid fa-eye fa-xl"></i></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun partenariat n'est encore définit.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="mb-5">Aucun partenariat</h4>
            <div class="d-flex flex-column flex-md-row col-12 justify-content-around">
                <div class="card col-md-5 bgg-alice-light m-2">
                    <div class="d-flex flex-column align-items-center card-body justify-content-between">
                        <h6 class="card-title mb-2">Souhaitez-vous ajouter un partenariat ?</h6>
                        <a href="{{ path('app_partner_add') }}" class="btn btn-alice">Nouveau Partenariat</a>
                    </div>
                </div>
            </div>
    {% endif %}




{% endblock %}