{% extends 'base.html.twig' %}

{% block title %}CRM Alice | Créer un contrat{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

<h3 class="mb-5">Création d'un contrat</h3>


<div class="form mt-3 mt-lg-0">

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="mb-3">
        <label class="form-label required" for="contract_user">Utilisateur</label>
        <input id="contract_user" class="form-control" type="text" name="contract[user]" placeholder="{{ user.firstname }} {{ user.lastname }}" disabled="true"></input>
    </div>    
    <div class="mb-3">
        <label class="form-label required" for="contract_customer">Client</label>
        <input id="contract_customer" class="form-control" type="text" name="contract[customer]" placeholder="{{ customer.name }}" disabled="true"></input>
    </div>

    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.amountCharged) }}
    {{ form_row(form.timeCharged) }}
    {{ form_row(form.amountReal) }}
    {{ form_row(form.timeReal) }}
    {{ form_row(form.websiteLink) }}
    {{ form_row(form.paymentFrequency) }}
    {{ form_row(form.openArea) }}
    {{ form_row(form.submit) }}

{{ form_end(form) }}

</div>

{% endblock %}