{% extends 'base.html.twig' %}

{% block title %}Modification contrat | Alice CRM{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Modification de contrat</h1>
        <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>

    <div class="d-flex my-5 justify-content-between flex-column">
        


        <div class="d-flex">


            <div class="card m-2" style="width: 15rem;">
                <div class="card-body bgg-alice-light">
                    <p class="card-subtitle mb-2 fs-6">Contrat</p>
                    <h6 class="card-title">{{ contract.name }}</h6>
                </div>
            </div>   

            <div class="card m-2" style="width: 15rem;">
                <div class="card-body bgg-alice-light">
                    <p class="card-subtitle mb-2 fs-6">Utilisateur</p>
                    <h6 class="card-title">{{ contract.customer.user.firstname }} {{ contract.customer.user.lastname }}</h6>
                </div>
            </div>
        </div>


    </div>



    <div class="form mt-3 mt-lg-0">
        
        {{ form_start(form) }}

        {{ form_errors(form) }}

            <div class="mb-3">
                <label class="form-label required" for="contract_customer">Client</label>
                <input 
                id="contract_customer" 
                class="form-control" 
                type="text" 
                name="contract[customer]" 
                placeholder="{{ customer.name }}" 
                disabled="true"></input>
            </div>
            {{ form_row(form.name) }}
            {{ form_row(form.date) }}
            {{ form_row(form.amountCharged) }}
            {{ form_row(form.timeCharged) }}
            {{ form_row(form.amountReal) }}
            {{ form_row(form.timeReal) }}
            {{ form_row(form.websiteLink) }}
            {{ form_row(form.paymentFrequency) }}
            {{ form_row(form.openArea) }}
            {{ form_row(form.submit) }}

        {{ form_end(form) }}

    </div>


{% endblock %}
