{% extends 'base.html.twig' %}

{% block title %}Contrat Détail | Alice CRM{% endblock %}

{% block body %}

    <h1 class="mb-5">{{ contract.name }}</h1>
    <div class="d-flex flex-column align-items-center flex-sm-row flex-sm-wrap mb-3 me-md-1 justify-content-center justify-content-lg-end">

        <a href="{{ path('app_contract_edit', { 'id': contract.id }) }}" class="btn btn-alice-lg btn-block mx-3">Modifier le contrat</a>

        <a href="{{ path('app_contract_remove', { 'id': contract.id, 'csrf_token': csrf_token('delete_contract' ~ contract.id) }) }}" class="btn btn-alice-lg btn-block mx-3 buttonRemove" data-name="Contrat {{ contract.name }}">Supprimer</a>

        <a href="{{ path('app_customer', { 'id': contract.customer.id, 'slug': contract.customer.slug }) }}" class="btn btn-alice-lg btn-block mx-3">Retour Client</a>
    </div>

<div class="table-responsive me-lg-5">


    <table class="table">

        <thead>
            <tr>
                <th scope="col">Client</th>
                <td>{{ contract.customer }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Date</th>
                <td>{{ contract.date|date("d/m/Y") }}</td>
            </tr>

            <tr>
                <th scope="col">Lien Site Client</th>
                <td><a href="{{ contract.websiteLink }}" target="_blank" id="url">{{ contract.websiteLink }}</a></td>
            </tr>
            <tr>
                <th scope="col">Fractionnement</th>
                <td>{{ contract.paymentFrequency }}</td>
            </tr>
            <tr>
                <th scope="col">Commentaires</th>
                <td>{{ contract.openArea }}</td>
            </tr>
        </tbody>
    </table>
</div>

{# Point de vue Financier  #}

<div class="mt-5">
    <h3>Point de vue financier : </h3>
    {% set differenceAmount = contract.amountCharged - contract.amountReal %}
    {% set differenceTime = contract.timeCharged - contract.timeReal %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="row">Heures</th>
                <th scope="row">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Élément Facturés</th>
                <td>{{ contract.timeCharged }}</td>
                <td>{{ contract.amountCharged }}</td>
            </tr>
            <tr>
                <th scope="col">Élément Réels</th>
                <td>{{ contract.timeReal }}</td>
                <td>{{ contract.amountReal }}</td>
            </tr>
            <tr>
                <th class="d-flex">
                    <p class="m-0 {% if contract.timeCharged > contract.timeReal %} text-success {% else %} text-danger {% endif %}">Delta
                    {% if contract.timeCharged > contract.timeReal %}positif{% else %}négatif{% endif %}
                    </p>
                </th>
                <th>
                    {% if contract.timeCharged > contract.timeReal %}
                        <p class="text-success m-0">{{ differenceTime }} heures</p>
                    {% else %}
                        <p class="text-danger m-0">{{ differenceTime }} heures</p>
                    {% endif %}
                </td>
                <th>
                    {% if contract.amountCharged > contract.amountReal %}
                        <p class="text-success m-0">{{ differenceAmount|format_currency('EUR') }}</p>
                    {% else %}
                        <p class="text-danger m-0">{{ differenceAmount|format_currency('EUR') }}</p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {# classement web #}
    <div class="mt-5">
        <h3>Classement web</h3>
    </div>
    <div class="row d-flex flex-row my-4 mx-auto align-items-center">
        <span class="add-serp-button btn btn-alice-lg">Ajouter un mot clé</span>
        <div class="serp-info-form">
            <div class="col-5 col-md-3 offset-md-2">
                <span>Mot clé: </span>
            </div>
            <div class="col-7 d-flex flex-row align-items-center">
                <div class="me-2">
                    {{ form_start(serpInfoForm) }}
                    {{ form_row(serpInfoForm.keyword) }}
                </div>
                <div class=" me-2">
                    {{ form_row(serpInfoForm.save) }}
                    {{ form_end(serpInfoForm) }}
                </div>
                <div class="">
                    <button class="btn btn-danger px-3 close-serp-form">X</button>
                </div>
            </div>
        </div>
    </div>
    {% for serpInfo in serpInfos %}

    <div class="keyword-container d-flex flex-lg-row justify-content-lg-around align-items-lg-center" data-keyword="{{ serpInfo.id }}" >
        <div type="text" class="keyword">{{ serpInfo.keyword }}</div>
        <div class="rank{{ serpInfo.id }}"></div>
    </div>
    {% endfor %}
    <div id="serp" class="btn btn-alice">Chercher</div>

</div>
    <script src="{{ asset('assets/js/serp_checker.js') }}"></script>
{% endblock %}

