{% extends 'base.html.twig' %}

{% block title %}Modification client | Alice CRM{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Modification du client {{ customer.name|upper }}</h1>
        <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>


<p>Client lié à l'utilisateur : {{ customer.user.firstname|capitalize }} {{ customer.user.lastname|upper }}</p>

    <div class="form mt-3 mt-lg-0">
        
        {{ form_start(form) }}

        {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.isPartner) }}

            <div id="editCustomerPartner">
                {% if form.partner.vars.choices is empty %}
                    {{ form_row(form.partner, { 'attr': {'class': 'd-none'} }) }}
                    <p>Aucun partenariat n'est défini. Veuillez ajouter un partenariat en cliquant sur le bouton ci-dessous :</p>
                    <a href="{{ path('app_partner_add') }}" class="btn btn-alice-form">Ajouter un partenariat</a>
                    {% else %}
                    {{ form_row(form.partner) }}
                {% endif %}
            </div>

            {{ form_row(form.isProfessional) }}

            <div id="editCustomerSiret">
                {{ form_row(form.siret) }}
            </div>

            {{ form_row(form.address) }}
            {{ form_row(form.zipCode) }}
            {{ form_row(form.city) }}
            {{ form_row(form.country) }}
            {{ form_row(form.tariffZone) }}
            <div>
                <p>Vous pouvez ajouter une Zone Tarifaire en vous rendant sur le formulaire : <a href="{{ path('app_tariff_zone_new') }}" class="btn btn-alice-sm">Ajouter une Zone Tarifaire</a>
                <br> Vous devrez revenir sur ce formulaire pour reprendre la saisie de la modification de votre client.</p>
                
            </div>
            {{ form_row(form.submit) }}

        {{ form_end(form) }}

    </div>


{% endblock %}
