{% extends 'base.html.twig' %}

{% block title %}Mes clients | Alice CRM{% endblock %}

{% block body %}



<h1 class="mb-5">Liste des clients</h1>

    <div class="d-flex mb-3 justify-content-center justify-content-md-end me-md-5">
        <a href=" {{ path('app_users_list') }} " class="btn btn-alice-lg">Nouveau client</a>
    </div>

    <div class="table-responsive">

        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Ville</th>
                    {# <th scope="col">Pays</th> #}
                    <th scope="col">Client Pro</th>
                    <th scope="col">Partenaire</th>
                    <th scope="col">Nom du USER</th>
                    {# <th scope="col">Contact Principal</th> #}
                </tr>
            </thead>

            {% for customer in customers %}

                <tbody>
                    <tr>
                        <td><a href=" {{ path('app_customer', { 'id': customer.id, 'slug': customer.slug}) }} ">{{ customer.name }}</a></td>
                        <td>{{ customer.city }}</td>
                        {# <td>{{ customer.country }}</td> #}
                        <td>{% if customer.isProfessional == true %}
                            <p class="text-start m-0"><img src=" {{ asset('assets/img/Check.png') }} " alt="Check" class="me-2 picto-check-partner"></p>
                        {% endif %}</td>
                        <td>{% if customer.isPartner == true %}
                            <p class="text-start m-0"><img src=" {{ asset('assets/img/Check.png') }} " alt="Check" class="me-2 picto-check-partner"></p>
                        {% endif %}</td>
                        <td>{{ customer.user.firstname }} {{ customer.user.lastname }}</td>
                    </tr>
                </tbody>

            {% endfor %} 
        </table>
    </div>

{% endblock %}
