{% extends 'base.html.twig' %}

{% block title %}Créer un client | Alice CRM{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Création d'un client</h1>
        <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>


    <div class="form mt-3 mt-lg-0">

{{ form_start(form) }}

    {{ form_errors(form) }}
        <div class="mb-3">
        <label class="form-label required" for="customer_user">Utilisateur</label>
        <input 
            id="customer_user" 
            class="form-control" 
            type="text" 
            name="customer[user]" 
            placeholder="{{ user.firstname }} {{ user.lastname }}" 
            disabled="true"></input>
    </div>

    {{ form_row(form.name) }}
    {{ form_row(form.isPartner) }}
    
    <div id="createCustomerPartner">
        {% if form.partner.vars.choices is empty %}
            {{ form_row(form.partner, { 'attr': {'class': 'd-none'} }) }}
            <p>Aucun partenariat n'est défini. Veuillez ajouter un partenariat en cliquant sur le bouton ci-dessous :</p>
            <a href="{{ path('app_partner_add') }}" class="btn btn-alice-form">Ajouter un partenariat</a>
            {% else %}
            {{ form_row(form.partner) }}
        {% endif %}
    </div>
    
    {{ form_row(form.isProfessional) }}

    <div id="createCustomerSiret">
        {{ form_row(form.siret) }}
    </div>
    
    {{ form_row(form.address) }}
    {{ form_row(form.zipCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}
    {{ form_row(form.tariffZone) }}
    <div>
        <p>Vous pouvez ajouter une Zone Tarifaire en vous rendant sur le formulaire : <a href="{{ path('app_tariff_zone_new') }}" class="btn btn-alice-sm">Ajouter une Zone Tarifaire</a>
        <br> Vous devrez revenir sur ce formulaire pour reprendre la saisie de votre nouveau client.</p>
        
    </div>
    {{ form_row(form.submit) }}

{{ form_end(form) }}

    </div>

{% endblock %}