{% extends 'base.html.twig' %}

{% block title %}Mes utilisateurs | Alice CRM{% endblock %}

{% block body %}



<h1 class="mb-5">Liste des utilisateurs</h1>

{# Ajouter un utilisateur #}

    <div class="d-flex flex-column align-items-center flex-sm-row justify-content-sm-end align-items-sm-baseline me-sm-2">
        <p class="">Créer un utilisateur :   </p>
        <a href=" {{ path('app_user_add') }} " class="btn btn-alice-lg ms-sm-3">Nouvel Utilisateur</a>
    </div>

  

    {% for user in users %}

        <div class="card m-2">
            <div class="card-body bgg-alice-light d-flex justify-content-between flex-column flex-sm-row align-items-center">
                <div class="d-flex flex-column justify-content-around col-lg-6 align-items-center">
                    <h5 class="card-title">{{ user.firstname|capitalize }} {{ user.lastname|upper }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.email }}</h6>
                    <p class="card-text">Role : 
                        {% if user.role is null %}
                        <a href="{{ path('app_user_edit', { 'id': user.id, 'slug': user.slug}) }}"><img src="{{ asset('assets/img/VectorWarning.png') }}" alt="Attention"></a>
                        {% endif %}
                        {{ user.role }}</p>
                </div>
                <div class="d-flex flex-column justify-content-around col-lg-6 align-items-center">
                    <a href="{{ path('app_user_show', { 'id': user.id, 'slug': user.slug}) }}" class="btn btn-block btn-alice-lg">Consulter</a><br>
                    {% if user.customer is null %}
                    <a href="{{ path('app_customer_add', { 'id': user.id, 'slug': user.slug}) }}" class="btn btn-block btn-alice-lg">Créer une fiche client</a> 
                    {% else %}
                    <a href="{{ path('app_customer', { 'id': user.customer.id, 'slug': user.customer.slug}) }}" class="btn btn-block btn-alice-lg">Consulter la fiche client</a> 
                    {% endif %}
                </div>
            </div>
        </div>


    {% endfor %}



    {# <div class="table-responsive">

        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            {% for user in users %}#}
            {# TODO : if user.isVerified ..... on affiche les users verifed #}
                {# <tbody>
                    <tr>
                        <td>{{ user.firstname|capitalize }}</td>
                        <td>{{ user.lastname|upper }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.role is null %}
                                <img src="{{ asset('assets/img/VectorWarning.png') }}" alt="Attention">
                            {% endif %}
                            {{ user.role }}
                        </td>

                        <td>
                        <a href="{{ path('app_user_edit', { 'id': user.id, 'slug': user.slug}) }}">Modifier</a><br>
                        <a href="#">Supprimer</a><br>
                            {% if user.customer is null %}
                                <a href="{{ path('app_customer_add', { 'id': user.id, 'slug': user.slug}) }}">Créer une fiche client</a> 
                            {% else %}
                                <a href="{{ path('app_customer', { 'id': user.customer.id, 'slug': user.customer.slug}) }}">Consulter la fiche client</a> 
                            {% endif %}
                        </td>
                    </tr>
                </tbody>

            {% endfor %} 

        </table>
    </div>
     #}

{% endblock %}
