{% extends 'base.html.twig' %}

{% block title %}Modification utilisateur | Alice CRM{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Modification de l'utilisateur {{ user.firstname }} {{ user.lastname }}</h1>
        <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>

        {% if user.customer is not empty %}
            <p class="mb-5">Fiche client liée : {{ user.customer }} </p>
        {% endif %}

    <div class="form mt-3 mt-lg-0">
        
        {{ form_start(form) }}

        {{ form_errors(form) }}

            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}

        {% if form.vars.value.role == "ADMIN" %}

            {{ form_row(form.role) }}

        <input type="text" name="edit_user[role]" id="edit_user_role" value="{{ user.role }}" class="form-control" disabled="disabled">
        {% else %}    
        
            {{ form_row(form.role) }}
        
        {% endif %}
            
            {{ form_row(form.submit) }}

        {{ form_end(form) }}

    </div>


{% endblock %}
