{% extends 'base.html.twig' %}

{% block title %}Liste des contacts | Alice CRM{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Liste des contacts</h1>
        <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>

<div class="table-responsive">

    <table class="table">

        <thead>
            <tr>
                <th scope="col">Nom du client</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Fonction</th>
                <th scope="col">Contact Principal</th>
            </tr>
        </thead>

    {% for contact in contacts %}

        <tbody>
            <tr>
                <td>{% if contact.user.customer %}  {{ contact.user.customer.name }} {% endif %}</td>
                <td><a href="{{ path('app_contact', { 'id': contact.id, 'slug': contact.slug}) }}" class="hover-link">{{ contact.lastname }} {{ contact.firstname }}</a></td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone|phone_number_format('INTERNATIONAL') }}</td>                
                <td>{{ contact.position }}</td>

                {% if contact.isMain == 1 %}
                <td class="text-start m-0"><i class="fa-sharp fa-solid fa-circle-check fa-xl" style="color: #19374d;"></i></td>
                {% else %}
                {% endif %}

            </tr>

        </tbody>

    {% endfor %}

    </table>
    
</div>







{% endblock %}
