    <tbody>
        <tr>
            <td><a href="{{ path('app_contact', { 'id' : contact.id } ) }}">{{ contact.lastname }} {{ contact.firstname }}</a></td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.tel }}</td>
            <td>{{ contact.position }}</td>
            {# <td>{{ contact.is_main }}</td> #}
        </tr>

    </tbody>
