<nav id="sidebarMenu" class="col-lg-2 d-lg-block bg-light sidebar collapse">

    <div class="position-sticky sidebar-sticky sidebar-sticky-alice">
        
        {% if app.user and app.user.isVerified == true %}

            <ul class="nav flex-column">

                <li class="nav-item nav-item-alice">
                    <a class="nav-link nav-link-alice col-12" aria-current="page" href=" {{ path('app_home') }} ">
                        <i class="fa-solid fa-house fa-xl col-2" alt="Pictogramme maison"></i>
                        <span class="col-10">Accueil</span>
                    </a>
                </li>


                {% if app.user.roles[0] == "ROLE_ADMIN" %}

                    <li class="nav-item nav-item-alice">
                        <a class="nav-link nav-link-alice col-12" href=" {{ path('app_user_list') }} ">
                            <i class="fa-solid fa-circle-user fa-xl col-2" alt="Pictogramme client"></i>
                            <span class="col-10">Utilisateurs</span>
                        </a>
                    </li>

                    <li class="nav-item nav-item-alice">
                        <a class="nav-link nav-link-alice col-12" href=" {{ path('app_customer_list') }} ">
                            <i class="fa-solid fa-arrows-down-to-people fa-xl col-2"></i>
                            <span class="col-10">Clients</span>
                        </a>
                    </li>

                    <li class="nav-item nav-item-alice">
                        <a class="nav-link nav-link-alice col-12" href="{{ path('app_contract_list') }}">
                            <i class="fa-solid fa-file-contract fa-xl col-2"></i>
                            <span class="col-10">Contrats</span>
                        </a>
                    </li>
                    
                    <li class="nav-item nav-item-alice">
                        <a class="nav-link nav-link-alice col-12" href="{{ path('app_partner_list') }}">
                            <i class="fa-solid fa-handshake-angle fa-xl col-2"></i>
                            <span class="col-10">Partenariats</span>
                        </a>
                    </li>


                    <li class="nav-item nav-item-alice">
                        <a class="nav-link nav-link-alice col-12" href="{{ path('app_tariff_zone_list') }}">
                            <div class="d-flex col-2">
                                <i class="fa-solid fa-globe fa-xl"></i>
                                <i class="fa-solid fa-euro-sign fa-sm pt-3"></i>
                            </div>
                            <span class="col-10">Zones Tarifaires</span>
                        </a>
                    </li>

                {% endif %}

                <li class="nav-item nav-item-alice">
                    <a class="nav-link nav-link-alice col-12" href="{{ path('app_document_list') }}">
                        <i class="fa-solid fa-file fa-xl col-2"></i>
                        <span class="col-10">Documents</span>
                    </a>
                </li>
                    
                <li class="nav-item nav-item-alice">
                    <a class="nav-link nav-link-alice col-12" href="{{ path('app_forgot_password_request') }}">
                        <i class="fa-solid fa-lock fa-xl col-2"></i>
                        <span class="col-10">Gestion du mot de passe</span>
                    </a>
                </li>

                {% if app.user.roles[0] == "ROLE_ADMIN" %}

                    <li class="nav-item nav-item-alice">
                        <a class="nav-link nav-link-alice col-12" target="_blank" href="https://calendar.google.com/calendar/u/0/r">
                            <i class="fa-solid fa-calendar-days fa-xl col-2"></i>
                            <span class="col-10">Agenda</span>
                        </a>
                    </li>

                {% endif %}

                <li class="nav-item nav-item-alice">
                    <a class="nav-link nav-link-alice col-12" href=" {{ path('app_logout') }} ">
                        <i class="fa-solid fa-right-from-bracket fa-xl col-2"></i>
                        <span class="col-10">Déconnexion</span>
                    </a>
                </li>

            </ul>


            {% if app.user and app.user.isVerified == true %}
                <div id="user-auth">
                    <hr>
                    <p> {{ app.user.firstname|capitalize }} {{ app.user.lastname|upper }}  </p>
                </div>
            {% endif %}

        {% endif %}

    </div>

</nav>
