<h1>Bonjour !</h1>

<p> Bienvenu sur Alice CRM.</p>
<p>Merci de confirmer votre Email en cliquant sur le lien : </p>

<a href="{{ url('app_verify_email', {signatureComponents: signatureComponents}) }}">{{ url('app_verify_email', {signatureComponents: signatureComponents}) }}</a>

{{ dump(signatureComponents.expirationMessageKey|trans(signatureComponents.expirationMessageData)) }}

<p>Ce lien expire dans {{ signatureComponents.expirationMessageKey|trans(signatureComponents.expirationMessageData) }}.</p>

<p>Ce lien expire dans {{ signatureComponents.expirationMessageKey }}.</p>

<p>À tout de suite !!</p>


