{% extends 'base.html.twig' %}

{% block title %}Documents | Alice CRM{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-between mb-5">
        <h1>Documents</h1>
        <img src="{{ asset('assets/img/VectorBack.png') }}" class="goBack" alt="Retour" onclick="window.history.back();"></img>
    </div>


    <div class="d-flex flex-column align-items-center flex-sm-row flex-sm-wrap mb-3 me-md-1 justify-content-center justify-content-lg-end">
        {% if isAuthorized %}
            <a href="{{ path('app_document_edit', {'id': document.id}) }}" class="btn btn-alice-lg mx-2">Modifier</a>
        {% endif %}
        
        <a href="{{ asset('uploads/documents/' ~ document.fileName) }}" download class="btn btn-alice-lg mx-2">Télécharger</a>
        <a href="{{ path('app_document_list') }}" class="btn btn-alice-lg mx-2">Retour à la liste</a>
        {% if isAuthorized %}
            {{ include('document/_delete_form.html.twig') }}
        {% endif %}
    </div>

    <div class="table-responsive">
        <table class="table showDocument">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="showDocumentDescription">Description</th>
                    <th>Date</th>
                    <th>Famille</th>
                    {% if isAuthorized %}
                        <th>Utilisateurs autorisés</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ document.name }}</td>
                    <td>{{ document.description }}</td>
                    <td>{{ document.date ? document.date|date('d/m/Y') : '' }}</td>
                    <td>{{ document.family }}</td>
                    {% if isAuthorized %}
                    <td>
                        <div class="">
                            {% for userElement in document.user.toArray() %}
                                <div class="form-check">
                                    <input class="form-check-input" disabled type="checkbox" id="user_{{ userElement.id }}" name="document[user][]" value="{{ userElement.id }}" {% if document.user.contains(userElement) %}checked{% endif %}>
                                    <label class="form-check-label" for="user_{{ userElement.id }}">
                                    {{ userElement.lastname|capitalize }} {{ userElement.firstname|upper }} | {{ userElement.role|upper }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>


    <div class="embedContainer ms-lg-5">
        {% if document.fileName|lower ends with('.pdf') %}
            <embed src="{{ asset('uploads/documents/' ~ document.fileName) }}" type='application/pdf' alt="{{ document.name }}" width="300" height="1000">
        {% else %}
            <img src="{{ asset('uploads/documents/' ~ document.fileName) }}" alt="{{ document.name }}" class="imgEmbedDocument">
        {% endif %}
    </div>

{% endblock %}
